<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <footer>
            <ul>
                <li id="role">Developers</li>
                <li>Alfonso Garcia<br>
                    <div class="socials">
                        <a href="https://github.com/ajgarcia321">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>

                        <a href="https://www.linkedin.com/in/alfonsojogarcia/">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </div>
                </li>


                <li>Cavell Wong<br>
                    <div class="socials">
                        <a href="https://github.com/cavellerson">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>

                        <a href="https://www.linkedin.com/in/cavellw/">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </div>
                <li>Ryan Foley<br><div class="socials">
                    <a href="https://github.com/ryfoa6">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>

                    <a href="https://www.linkedin.com/in/ryfoa6/">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </div></li>
            </ul>
            <ul>
                <li id="role">UX Designers</li>
                <li>Larissa Akhmetova
                    <br>
                    <div class="socials">
                        <a href="https://www.linkedin.com/in/lurissu/">
                            <ion-icon name="logo-linkedin"></ion-icon></a>
                    </div>
                </li>
                <li>Neslon Tift
                    <br>
                <div class="socials">
                    <a href="https://www.linkedin.com/in/nelson-tift/">
                        <ion-icon name="logo-linkedin"></ion-icon></a>
                </div>
                </li>
            </ul>
        </footer>
    </body>
</html>
