<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>
			<ul id="headers">
				<li>
					<a href="https://octopi-trivia.herokuapp.com/lobby">
						<img
							class="header-image"
							src="/public/Images/octopus.png"
							alt="octopi"
					/></a>
				</li>

				<li>
					<h1>Octopi</h1>
				</li>

				<li>
					<img
						class="header-image"
						src="/public/Images/user.png"
						alt="profile/"
					/>
				</li>
			</ul>
		</header>
    </body>
</html>
