<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
		<form class="" action="sessions?_method=DELETE" method="post">
			<input type="submit" name="" value="Log Out" />
		</form>
		<h1>OCTOPI</h1>
		<a href="http://localhost:3000/lobby/math/0">Math</a>
		<a href="http://localhost:3000/lobby/science/0">Science</a>
		<a href="http://localhost:3000/lobby/history/0">History</a>
		<a href="http://localhost:3000/lobby/geography/0">Geography</a>
		<a href="http://localhost:3000/lobby/music/0">Music</a>
		<a href="http://localhost:3000/lobby/art/0">Art</a>
		<a href="http://localhost:3000/lobby/film/0">Film</a>
		<a href="http://localhost:3000/lobby/politics/0">Politics</a>
	</body>
</html>
