<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />

	</head>
	<body>

		<header>
			<ul id="headers">
			<li>
				<a href="http://localhost:3000/lobby"><img src='/public/Images/octopus.png' alt='octopi'></a>

			</li>

			<li>
				<h1>
				Octopi
				</h1>
			</li>

			<li>
				<img src='/public/Images/user.png' alt='profile/'>
			</li>

			</ul>
		</header>
	<h2> Choose a quiz! </h2>

	<table>
	  <tr>


		<th>
		<button>
			<a href="http://localhost:3000/lobby/math/0/0">
				<img src='public/Images/math.png' alt='octopi'>
		  		<p>Math</p>
		  	</a>
		</button>
		</th>




		<th><button>
				<a href="http://localhost:3000/lobby/science/0/0">
					<img src='public/Images/science.png' alt='octopi'>
			  		<p>Science</p>
			  	</a>
			</button></th>

	  </tr>

	  <tr>
		<th><button>
				<a href="http://localhost:3000/lobby/music/0/0">
					<img src='public/Images/music-1.png' alt='octopi'>
					  <p>Music</p>
			  	</a>
			</button></th>

		<th><button>
				<a href="http://localhost:3000/lobby/geography/0/0">
					<img src='public/Images/geography.png' alt='octopi'>
				 	<p> Geography</p>
				 </a>
			</button></th>
	  </tr>

	  <tr>
		<th><button>
			<a href="http://localhost:3000/lobby/film/0/0">
				<img src='public/Images/music.png' alt='octopi'>
				<p>Film</p>
			</a>
		</button></th>
		<th><button>
			<a href="http://localhost:3000/lobby/art/0/0">
				<img src='public/Images/art.png' alt='octopi'>
			 	<p>Art</p>
			</a>
		</button></th>
	  </tr>

	  <tr>
	   <th><button>
		   <a href="http://localhost:3000/lobby/politics/0/0">
			   <img src='public/Images/politics.png' alt='octopi'>
			   <p>Politics</p>
		   </a>
	   </button></th>
	   <th><button>
		   <a href="http://localhost:3000/lobby/history/0/0">
			   <img src='public/Images/history.png' alt='octopi'>
			   <p>History</p>
		   </a>
	   </button></th>
	 </tr>
	</table>


		<form class="" action="sessions?_method=DELETE" method="post">
			<input type="submit" name="" value="Log Out" />
		</form>



	</body>
</html>
