<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Octopi</title>
	<link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
	<style>
	@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
	</style>
	<style>
	@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
	</style>
</head>

	<body>
		<header>
			<ul id="headers">
			<li>
				<a href="http://localhost:3000/lobby"> <img class='header-image' src='/public/Images/octopus.png' alt='octopi'></a>

			</li>

			<li>
				<h1>
				Octopi
				</h1>
			</li>

			<li>
				<img class='header-image' src='/public/Images/user.png' alt='profile/'>
			</li>

			</ul>
		</header>

	<h2> Choose a quiz! </h2>

	<table style="text-align: center">

		<th>
		<button>
			<a class='category' href="http://localhost:3000/lobby/math/0/0">
				<img src='public/Images/math.png' alt='math'>
		  		<p >Math</p>
		  	</a>
		</button>
		</th>


		<th><button>
				<a class='category' href="http://localhost:3000/lobby/science/0/0">
					<img src='public/Images/science.png' alt='science'>
			  		<p>Science</p>
			  	</a>
			</button></th>


		<th><button>
				<a class='category' href="http://localhost:3000/lobby/music/0/0">
					<img src='public/Images/music-1.png' alt='music'>
					  <p>Music</p>
			  	</a>
			</button></th>

		<th><button>
				<a class='category' href="http://localhost:3000/lobby/geography/0/0">
					<img src='public/Images/geography.png' alt='geography'>
				 	<p> Geography</p>
				 </a>
			</button></th>



		<th><button>
			<a class='category' href="http://localhost:3000/lobby/film/0/0">
				<img src='public/Images/music.png' alt='film'>
				<p>Film</p>
			</a>
		</button></th>
		<th><button>
			<a class='category' href="http://localhost:3000/lobby/art/0/0">
				<img src='public/Images/art.png' alt='art'>
			 	<p>Art</p>
			</a>
		</button></th>



	   <th><button>
		   <a class='category' href="http://localhost:3000/lobby/politics/0/0">
			   <img src='public/Images/politics.png' alt='politics'>
			   <p>Politics</p>
		   </a>
	   </button></th>
	   <th><button>
		   <a class='category' href="http://localhost:3000/lobby/history/0/0">
			   <img src='public/Images/history.png' alt='history'>
			   <p>History</p>
		   </a>
	   </button></th>

	</table>


		<form class="" action="sessions?_method=DELETE" method="post">
			<input type="submit" name="" value="Log Out" />
		</form>



	</body>
</html>
