<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>Octopi</title>
  <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
  </style>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  </style>
   <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</head>

  <body>
      <header>
          <ul id="headers">
          <li>
              <a href="https://octopi-trivia.herokuapp.com/lobby"> <img src='/public/Images/octopus.png' alt='octopi'></a>

          </li>

          <li>
              <h1>
              Octopi
              </h1>
          </li>

          <li>
              <img class='header-image' src='/public/Images/user.png' alt='profile/'>
          </li>


          </ul>
      </header>

  <ul class='content'>
    <li>
      <form action="/sessions" method="POST">
        <input class='text-box' placeholder="Username" type="text" name="username" required/>
    </li>

    <li>
        <input class='text-box' type="password" placeholder="Password" name="password" />
    </li>
    <li>
        <input class='submit' type="submit" value="Login">
    </li>
    <li>
      <form>
          <a href="http://localhost:3000/users/new">New to our program? Click here to make new Account</a>
    </li>
    </ul>
    </div>
    <footer>
        <ul>
            <li id="role">Developers</li>
            <li>Alfonso Garcia<br>
                <div class="socials">
                    <a href="https://github.com/ajgarcia321">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>

                    <a href="https://www.linkedin.com/in/alfonsojogarcia/">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </div>
            </li>


            <li>Cavell Wong<br>
                <div class="socials">
                    <a href="https://github.com/cavellerson">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>

                    <a href="https://www.linkedin.com/in/cavellw/">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </div>
            <li>Ryan Foley<br><div class="socials">
                <a href="https://github.com/ryfoa6">
                    <ion-icon name="logo-github"></ion-icon>
                </a>

                <a href="https://www.linkedin.com/in/ryfoa6/">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </div></li>
        </ul>
        <ul>
            <li id="role">UX Designers</li>
            <li>Larissa Akhmetova
                <br>
                <div class="socials">
                    <a href="https://www.linkedin.com/in/lurissu/">
                        <ion-icon name="logo-linkedin"></ion-icon></a>
                </div>
            </li>
            <li>Neslon Tift
                <br>
            <div class="socials">
                <a href="https://www.linkedin.com/in/nelson-tift/">
                    <ion-icon name="logo-linkedin"></ion-icon></a>
            </div>
            </li>
        </ul>
    </footer>
  </body>
</html>
