<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="utf-8" />
   <title>Octopi</title>
   <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
   <style>
   @import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
   </style>
   <style>
   @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
   </style>
   <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</head>
  <body>
      <%- include ('../partials/header.ejs') %>

  <ul>
     <li>
      <form action="/users" method="POST">

        <input class='text-box' placeholder="Username" type="text" name="username" required/>
    </li>
    <li>

        <input class='text-box' placeholder="Password" type="password" name="password" />
    </li>
    <li>
        <input class='submit' type="submit" value="Make New Account">
    </li>
    <li>
      <form>
          <a href="https://octopi-trivia.herokuapp.com/sessions/new">Already have an account? Click here to login!</a>
    </li>
    </ul>
    </div>
    
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
